<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                
                <binding name="smsnnPortBinding1" />
                <binding name="smsnnPortBinding2" />
            </basicHttpBinding>
        </bindings>
        <client>
            
            <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding1" contract="SampleAPI.ServiceReference.NetGsmService.smsnn" name="smsnnPort1" />
            <endpoint address="http://soap.netgsm.com.tr:8080/Sms_webservis/SMS" binding="basicHttpBinding" bindingConfiguration="smsnnPortBinding2" contract="SampleAPI.ServiceReference.NetGsm.smsnn" name="smsnnPort2" />
        </client>
    </system.serviceModel>
</configuration>
